<a href="https://colab.research.google.com/github/pkdvalis/fcc-projects/blob/main/fcc_demographic_data_analyzer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df = pd.read_csv('adult.data.csv')

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
df.head()
df.tail()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
race_count = df['race'].value_counts()
race_count.head()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [ ]:
average_age_men = df[df['sex']=='Male']['age'].mean().round(1)
average_age_men

39.4

In [ ]:
# What is the percentage of people who have a Bachelor's degree?
percentage_bachelors = round(len(df[df['education']=='Bachelors']) / len(df) * 100, 1)
percentage_bachelors

16.4

In [ ]:
higher_education = None
lower_education = None
 
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?
    # with and without `Bachelors`, `Masters`, or `Doctorate`

higher_education = df[(df['education']=='Bachelors') | (df['education']=='Masters') | (df['education']=='Doctorate')]
higher_education_rich = higher_education[higher_education['salary']=='>50K']
higher_education_rich = round(len(higher_education_rich) / len(higher_education) * 100,1)

lower_education = df[(df['education']!='Bachelors') & (df['education']!='Masters') & (df['education']!='Doctorate')]
lower_education_rich = lower_education[lower_education['salary']=='>50K']
lower_education_rich = round(len(lower_education_rich) / len(lower_education) * 100,1)

46.5

17.4

In [ ]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

In [ ]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = None
rich_percentage = None

num_min_workers = len(df[df['hours-per-week']==min_work_hours])
rich_percentage = df[df['hours-per-week']==min_work_hours]
rich_percentage = rich_percentage[rich_percentage['salary']=='>50K']
rich_percentage = round(len(rich_percentage) / num_min_workers * 100,1)
rich_percentage

10.0

In [ ]:
 # What country has the highest percentage of people that earn >50K?
highest_earning_country = None
highest_earning_country_percentage = None

over_50k = df[df['salary']=='>50K']
over_50k = over_50k['native-country']
df['native-country'].value_counts()
over_50k.value_counts()
hcp = round(over_50k.value_counts() / df['native-country'].value_counts() * 100,1)
highest_earning_country_percentage = hcp.sort_values(ascending=False)[0]
highest_earning_country = hcp.sort_values(ascending=False).index[0]
print(highest_earning_country, highest_earning_country_percentage)

Iran 41.9

In [ ]:
    # Identify the most popular occupation for those who earn >50K in India.
    top_IN_occupation = None

    top_IN_occupation = df[(df['native-country']=='India') & (df['salary']=='>50K')]
    top_IN_occupation = top_IN_occupation['occupation'].value_counts().index[0]
    top_IN_occupation

'Prof-specialty'